/* Footer */
.footer {
   background-color:#f8f9fa;
   position: absolute;
   float:center;
   width: 100%;
}

/* For Home Page */
.homerest{
    margin-left:auto;
    margin-right:auto;
    padding-top:1em;
    width:100%;
}

.homeh1{
   text-align: center;
   padding-top:1em;
}

.homepara{
    padding-top:3.2em;
}

.homechefpic{
    width:60%;
    margin-left:15%;
}

.chef{
  margin-left:15%;
}


/* For Error 404 Page */

#myVideo {
  display: block;
  margin: auto;
  width: 100%;
  height:100%;
}

.content {
  position:absolute;
  font-family: 'Text Me One', sans-serif;
  text-align: center;
  color: #f1f1f1;
  width: 100%;
  top: 60%;
}

.audit{
 text-align: center;
 background-color: lightblue;
 padding-top: 100px;
 padding-bottom: 150px;
 font-size:20px;
}

#myInput {
  background-position: 10px 10px;
  background-repeat: no-repeat;
  width: 100%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#myTable {
  border-collapse: collapse;
  width: 100%;
  border: 1px solid #ddd;
  font-size: 18px;
}

#myTable th, #myTable td {
  text-align: left;
  padding: 12px;
}

#myTable tr {
  border-bottom: 1px solid #ddd;
}

#myTable tr.header, #myTable tr:hover {
  background-color: #f1f1f1;
}
