<html>

<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="{{url_for('static',filename = 'img/logo.png')}}" alt=""></a>

  <!-- If user is Logged In, Replace login Button with user name -->
  {% if 'login' in session %}
    <!-- Links -->
  <ul class="navbar-nav wholenavbar">
    <li class="nav-item">
      <a class="nav-link navbarfirst" href="/">Home</a>
    </li>


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" data-toggle="dropdown">
        Membership
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="{{url_for('referral', state=' ')}}">Rewards</a>
        <a class="dropdown-item" href="{{url_for('create_Member')}}">Sign Up</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="/about">About</a>
    </li>
     <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('orderpage1')}}">Menu</a>
     </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="/Reservation" >Book a Reservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('checkstaff', state=' ')}}"> Staff Page </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" data-toggle="dropdown">
        Hello {{session['email']}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="/referral/''">Rewards</a>
        <a class="dropdown-item" href="{{url_for('update_member')}}">Change Info</a>
        <a class="dropdown-item" href="{{url_for('update_memberpass')}}">Change Password</a>
        <a class="dropdown-item" href="/logout">Logout</a>
      </div>
    </li>

    {% else %}
    <!-- Links -->
    <ul class="navbar-nav wholenavbar">
      <li class="nav-item">
        <a class="nav-link navbarfirst" href="/">Home</a>
      </li>
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle navbaritem" href="#" id="navbardrop" data-toggle="dropdown">
          Membership
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{{url_for('member_login', state=' ')}}">Rewards</a>
          <a class="dropdown-item" href="{{url_for('create_Member')}}">Sign Up</a>
        </div>
      </li>
      <li class="nav-item">
        <a class="nav-link navbaritem" href="/about">About</a>
      </li>
       <li class="nav-item">
        <a class="nav-link navbaritem" href="{{url_for('orderpage1')}}">Menu</a>
       </li>
      <li class="nav-item">
        <a class="nav-link navbaritem" href="{{url_for('create_user')}}">Book a Reservation</a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbaritem" href="{{url_for('checkstaff', state=' ')}}"> Staff Page </a>
      </li>
      <li class="nav-item">
        <a class="nav-link navbaritem" href="{{url_for('member_login', state=' ')}}"> Login </a>
      </li>
    </ul>
    {% endif %}
  </ul>
</nav>
</body>
</html>
