<html>

<body>
<nav class="navbar navbar-expand-sm bg-light navbar-light">
  <!-- Brand -->
  <a class="navbar-brand" href="/"><img src="{{url_for('static',filename = 'img/logo.png')}}" alt=""></a>
  {% if email == " "%}
  <!-- Links -->
  <ul class="navbar-nav wholenavbar">
    <li class="nav-item">
      <a class="nav-link navbarfirst" href="/">Home</a>
    </li>
    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" id="navbardrop" data-toggle="dropdown">
        Membership
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Rewards</a>
        <a class="dropdown-item" href="#">Sign Up</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#">About</a>
    </li>
     <li class="nav-item">
      <a class="nav-link navbaritem" href="#">Menu</a>
     </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#">Book a Reservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#"> Staff Page </a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#"> Login </a>
    </li>
  </ul>


  <!-- If user is Logged In, Replace login Button with user name -->
  {% else %}
    <!-- Links -->
  <ul class="navbar-nav wholenavbar">
    <li class="nav-item">
      <a class="nav-link navbarfirst" href="{{url_for('home')}}">Home</a>
    </li>


    <!-- Dropdown -->
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" data-toggle="dropdown">
        Membership
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Rewards</a>
        <a class="dropdown-item" href="#">Sign Up</a>
      </div>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#">About</a>
    </li>
     <li class="nav-item">
      <a class="nav-link navbaritem" href="#">Menu</a>
     </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="#" >Book a Reservation</a>
    </li>
    <li class="nav-item">
      <a class="nav-link navbaritem" href="{{url_for('audit')}}"> Staff Page </a>
    </li>
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle navbaritem" href="#" data-toggle="dropdown">
        Hello {{email}}
      </a>
      <div class="dropdown-menu">
        <a class="dropdown-item" href="#">Rewards</a>
        <a class="dropdown-item" href="#">Change Info</a>
        <a class="dropdown-item" href="#">Logout</a>
      </div>
    </li>
    {% endif %}
  </ul>
</nav>
</body>
</html>
