{% extends "base.html" %}
{% block title %} Piquant - Cart {% endblock %}

{% block content %}
<h1 class="display-4 textcenter"> Cart</h1>
<div>
    <table class="table table-striped">
        <thead>
            <tr>
                <td> Item Code </td>
                <td> Item </td>
                <td> Quanity </td>
                <td> Price </td>
                <td> Action </td>
            </tr>
        </thead>
        <tbody>
            {% for a in order_listdict %} <!-- Order from all tables -->
            {% for b in a.get_order() %} <!-- Order from only 1 table -->
            {% if a.get_order().get(b) > 0 %} <!-- Quanity From Table -->
            <tr>
                <td> {{ b }} </td>
                <td> {{ a.getnamefromcode(b) }} </td>
                <td> {{ a.get_order().get(b)}} </td>  <!-- Quanity -->
                <td> $ {{ a.getpricefromcode(b) * a.get_order().get(b) }} </td>  <!-- Price -->
                <td> <a href="{{url_for('deleteitem', deleteitem=b, tablenum=tablenum, email=email)}}"> <button class="btn btn-danger"> Delete </button> </a> </td> <!-- Delete -->
            </tr>
            {% endif %}
            {% endfor %}
            {% endfor %}
        </tbody>
    </table>
    <p class="cartprice"> Total: $ {{ total }} </p>
    <div class="button">
        <a href = "{{url_for('orderpage1', email=email)}}"> <button class="btn btn-danger"> Back </button> </a>
        &nbsp;
        <a href = "{{url_for('submit', email=email)}}"> <button class="btn btn-success"> Confirm </button> </a>
    </div>
</div>
{% endblock %}
