{% extends "base.html" %}
{% block title %}Piquant - Staff Retrive Reservation {% endblock %}

{% block content %}
<br>
{% block staffnavbar %}
  {% include 'includes/Staff_navbar.html' %}
{% endblock %}
<h1 class="display-4">Confirmation</h1>
<div>
  {% if count == 0 %}
  <p>There are no users.</p>
  {% elif count == 1 %}
  <p>There is 1 user.</p>
  {% else %}
  <p>There are {{ count }} users.</p>
  {% endif %}
</div>
<div>
  <table class="table table-striped">
    <thead>
      <tr>
        <th>User ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Salutation</th>
        <th>Email</th>
        <th>Additional note</th>
        <th></th>
        <th></th>
      </tr>
    </thead>
    <tbody>
    {% for user in users_list %}
      <tr>
        <td>{{ user.get_user_id()}}</td>
        <td>{{ user.get_first_name() }}</td>
        <td>{{ user.get_last_name() }}</td>
        <td>{{ user.get_salutation() }}</td>
        <td>{{ user.get_email() }}</td>
        <td>{{ user.get_additional_note() }}</td>
        <td><a href="/updateUser/{{user.get_user_id()}}/{{staff_name}}" class="btn btn-warning">Update</a></td>
        <td>
          <form action="{{url_for('delete_user', id=user.get_user_id(), staff_name=staff_name)}}" method="POST">
            <input type="submit" value="Delete" class="btn btn-danger" onclick="return confirm('Are you sure you want to delete {{user.get_first_name()}} {{user.get_last_name()}}?');">
          </form>
        </td>
      </tr>
    {% endfor %}
    </tbody>
  </table>
  <a href="{{url_for('staffpage', staff_name=staff_name)}}"> <button class="btn btn-danger"> Back </button></a>
</div>
{% endblock %}

