<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <h1>2 Factor Authentication</h1>

        <label for="security_qn">Choose a Security Question:</label>
        <h3>[Answer at least ONE security question correct to proceed]</h3>

        <select name="security_qn" id="security_qn">
            <option value="qn_1">What is the name of your pet?</option>
            <option value="qn_2">What is your mother's maiden name?</option>
            <option value="qn_3">What street did you grow up on?</option>
        </select>

</body>
</html>