{% extends "manager_base.html" %}
{% block title %}Piquant - Staff Audit{% endblock %}
{% block content %}

{% block javascript %}
    <script src="{{ url_for('static',filename='java.js') }}"></script>
{% endblock %}

<div class="wrapper">
    <!-- Sidebar -->
    <nav id="sidebar">
        <div class="sidebar-header">
            <h3>Piquant</h3>
        </div>

            <div>
                <a href="{{url_for('manager_audit', staff_name=staff_name, audit=audit)}}">Audit table</a>
                </div>

                <div>
                <a href="{{url_for('manager_dashboard', staff_name=staff_name)}}">Dashboard</a>
                </div>

    </nav>
</div>
<div class="audit">
   <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for names.." title="Type in a name">
     <h1 class="display-4">Staff Audit</h1>
   <a href="../audit.csv" download="audit.csv"><button class="btn btn-success">Download csv file</button></a>

   <br>
        <div class="table-responsive">
          <table id="myTable" class="table table-striped">
            <tr class="header">
               <th>Staff Name</th>
               <th>Login Time</th>
               <th>Logout Time</th>
               <th>Action</th>
              <th>Failed login attempts</th>
                <th>Role</th>
            </tr>
            {% for user in audit %}
              {% if user['staff_id'] != None %}
                 <tr>
                   <td>{{user['staff_id']}}</td>

                   {% if user['login_time'] != None %}
                     <td>{{user['login_time']}}</td>
                   {% else %}
                     <td>--</td>
                   {% endif %}

                   {% if user['logout_time'] != None %}
                    <td>{{user['logout_time']}}</td>
                   {% else %}
                    <td>--</td>
                   {% endif %}

                   {% if user['action'] != None %}
                       <td>{{user['action']}}</td>
                   {% else %}
                       <td>--</td>
                   {% endif %}

                     {% if user['failed_login'] != None %}
                       <td>{{user['failed_login']}}</td>
                   {% else %}
                       <td>--</td>
                   {% endif %}

                   {% if user['role'] != None %}
                       <td>{{user['role']}}</td>
                   {% else %}
                       <td>--</td>
                   {% endif %}
            </tr>
            {% endif %}
            {% endfor %}
          </table>
      </div>
</div>


<br>
<div>
  <a href="{{url_for('manpage', staff_name=staff_name, manager_id=manager_id)}}"> <button class="btn btn-danger"> Back </button></a>
</div>


{% endblock %}
