{% extends 'staff_base.html' %}
{% block title %}Piquant - Update Staff User{% endblock %}

{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<br>

<h1 class="display-4">Update Info</h1>

<form method="post" action="Staff_Userslist.html">
  <div class="form-group">
    {{ render_field(form.full_name, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.email, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.phone_number, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.staff_id, class="form-control") }}
  </div>
  <div class="form-group">
    {{ render_field(form.job_title, class="form-control") }}
  </div>
<br>
  {{msg}}
<br>
  <br>
  <input type="submit" value="Submit" class="btn btn-primary"/>
</form>
<br>
<a href="{{url_for('staffpage', staff_name=staff_name)}}"> <button class="btn btn-danger"> Back </button></a>
{% endblock %}
